:root {
    --naranja-color: #EF8B57;
    --negro-color: #0F0F0F;
    --celeste-color:#4bb1dc;
    --gris-color: #828384;
}

#header img {
    width: 40px;
}

#header .nav-link:hover {
    color: var(--naranja-color);
}

#carousel-home {
    position: relative;
}

#carousel-home img {
    height: 70vh;
    object-fit: cover;
    filter: grayscale(40%);
}

#carousel-home .overlay, #section-banner .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel-home .overlay .container-fluid {
    height: 90%;
}

#carousel-home .overlay .row {
    height: 100%;
}

#carousel-home .overlay .btn {
    color: white;
}

#carousel-home .overlay .btn:hover {
    color: var(--negro-color);
}

#carousel-home .overlay .btn-st, #btn-st {
    background-color: var(--naranja-color);
}

#carousel-home .overlay .btn-st:hover, #btn-st:hover {
    background-color: #d47747;
}

    #categorias .btn {
    color: var(--negro-color);
}

#novedades-container .card .img-fluid {
    height: 170px;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

#novedades-container .card .img-fluid:hover {
    transition: all .5s ease-in-out;
    height: 250px;
}

#novedades-container, #promo-container {
    overflow: hidden;
    scroll-behavior: smooth;
}

#products-preview-2 .container {
    position: relative;
}

#flecha-izquierda, #flecha-derecha {
    position: absolute;
    display: flex;
    width: 15%;
    top: 0;
    bottom: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    filter: invert(1) grayscale(100);
    opacity: 0.5;
    align-items: center;
    cursor: pointer;
}

#products-preview-2 .flecha-izquierda-2, #products-preview-2 .flecha-derecha-2 {
    border: none;
    background-color: transparent;
    filter: invert(1) grayscale(100);
    opacity: 0.5;
    align-items: center;
    cursor: pointer;
}

#flecha-izquierda {
    left: -3%;
}

#flecha-derecha {
    right: -3%;
}

#novedades-container .card .card-body {
    position: relative;
}

#novedades-container .card .badge-price {
    position: absolute;
    top: -40%;
    left: 2%;
    background-color: white;
    font-size: 1rem;
}

.info-container {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #4bb1dc 37%, #4bb1dc 64%, #ffffff 100%);
    
}

#promo-preview .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

#promo-preview img {
    max-height: 350px;
    object-fit: cover;
}

#promo-preview .container {
    position: relative;
}

#section-banner {
    position: relative;
}

.banner-catalogo {
    height: 350px;
    background-image: url("./assets/backgrounds/shoe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#section-banner .overlay {
    backdrop-filter: grayscale(50%);
}

.banner-catalogo h2 {
    color: var(--naranja-color);
    text-shadow: 0px 0px 3px var(--negro-color);
}

#section-banner .btn-catalogo {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--negro-color);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;   
}

#section-banner .btn-catalogo:hover {
    background-position: right center; /* change the direction of the change here */
    color: var(--negro-color);
    text-decoration: none;
}

#section-banner .btn-catalogo i {
    font-size: 1.5rem;
}

#quienes-somos {
    background-image: url("./assets/backgrounds/wave2.svg");
    background-position: bottom;
    background-repeat: no-repeat;
}

.quienes-somos__img {
    width: 400px;
    height: 400px;
    background-image: url("./assets/backgrounds/pesas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}