:root {
    --naranja-color: #EF8B57;
    --negro-color: #0F0F0F;
    --celeste-color:#4bb1dc;
    --gris-color: #828384;
}
#header img {
    width: 40px;
}

#header .nav-link:hover {
    color: var(--naranja-color);
}

#categorias .btn {
    color: var(--negro-color);
}