:root {
    --naranja-color: #EF8B57;
    --negro-color: #0F0F0F;
    --celeste-color:#4bb1dc;
    --gris-color: #828384;
}

#catalogo-display .card .img-fluid {
    height: 240px;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

#catalogo-display .card .card-body {
    position: relative;
}

#catalogo-display  .card .badge-price {
    position: absolute;
    top: -20%;
    left: 2%;
    background-color: white;
    font-size: 1rem;
}

#catalogo-display .card-body:hover > .badge-price{
    transition: top 0.35s;
    top: -30%;
}

#catalogo-display .card-container:hover {
    transition: opacity 0.35s;
    opacity: 0.8;
}

#etiquetas-container{
    margin-top: 5px;
    display: flex;
    margin-right: 2px;
}

#etiquetas {
    display: flex;
    width: fit-content;
    max-width: 250px;
    margin-right: 5px;
    align-items: center;
    padding: 2px 4px;
    background-color: #d1d1d1;
    border: 1px solid var(--negro-color);
    font-size: 0.8rem;
}

#etiquetas button {
    margin-left: 3px;
    width: 4px;
    height: 4px;
}